$hierarchy-color: black !default;
$hierarchy-background: white !default;

.ProjectComponent {
    .hierarchy-list {

        .hierarchy-item {
            height: 35px;
            min-width: 200px;
            color: $hierarchy-color;
            background: $hierarchy-background;
            padding: 5px;
            cursor: grab;
            
            .icon {
                height: 100%;
                width: 36px;
                float: left;
            }

            .title {
                width: 100%;
                padding: 0;
                color: $hierarchy-color;
                margin: 0;
                font-size: 10pt;
            }

            .subtitle {
                height: 18px;
                width: 100%;
                padding: 0;
                margin: 0;
                color: darken($hierarchy-color, 10%);
                font-size: 8pt;
            }

            &.drag {
                position: fixed;
                z-index: 9999;
                min-width: 400px;
            }

        }
    }
}