
.image.maintain-ratio {
    img {
        width: auto;
        margin: auto;
    }
}

.image {
    .image-backdrop {
        background: black;
        position: absolute;
       // width: calc(100% - 4px);
       // height: calc(100% - 4px);
        width: 100%;
        height: 100%;
        top: 0;
        overflow: hidden;
        background-size: cover;
        background-repeat: none;
        filter: saturate(0.25) blur(2px);
        clip-path: inset(0.1% 0.1% 0.1% 0.1%);
    }
}

img.lg-thumbnail {
    width: 100px;
    background: hsl(0, 0%, 14%);
    transition: width 0.25s;
    object-fit: contain;
}

.favourited {
    .avatar {
        margin-right: 10px;
        float: left;
    }
}

.cover-image {
    img { object-fit: cover;}
    .card {
        width: 250px;
        min-width: 250px;
        border-radius: 16px;
        background: #17141d;
        background-size: cover;
        box-shadow: -1rem 0 1rem #0000007d;
        display: flex;
        flex-direction: column;
        transition: .2s;
        margin: auto;
        scroll-snap-align: start;
        clear: both;
        position: relative;
        overflow: hidden;
    }
    margin-bottom: 20px;
}