@charset "utf-8";

body {
    overflow-x: hidden;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.avatar, .avatar img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

/** Navbar Overrides */
.field, .navbar-item {
    &.is-fullwidth {
        width: 100%;
    }
}
.navbar-item {
    form { 
        margin: auto;
        width: 40vw;
    }
    #navbar-submit { width: 80px; }
}

.has-placeholder-transition{
    &::placeholder {
        transition: color 1s;
    }
    &.is-transitioning::placeholder {
        color: transparent;
    }
}

//Sets up the navbar so we are able to have a center element
.navbar-right { margin-right: unset; }
.navbar-center {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}