@charset "utf-8";

body {
    overflow-x: hidden;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.avatar, .avatar img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

.field, .navbar-item {
    &.is-fullwidth {
        width: 100%;
    }
}

.has-placeholder-transition{
    &::placeholder {
        transition: color 1s;
    }
    &.is-transitioning::placeholder {
        color: transparent;
    }
}